.menuItem{
    color:#999999 !important;
}
.ant-menu-item-selected {
  background-color: #f2f4f6 !important;
  .menuItem{
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-align: left !important;
    
  }
}
 .menuItem{
   color: #222222 !important;
 }
 .sidenav{
     width:220px !important;
     background-color: #f2f4f6 !important;
     height: 1302px !important;
 }
 .menudiv{
   background-color: #f2f4f6 !important;
 }