.group {
.menu-icon{
    width: 15.3px;
    height: 12.9px;
    margin: 10px 8px 0px 0px;
    color: #fff;
    font-size: 18px;
    background: none;

}
.cxopicks{
  width: 93px;
  height: 17px;
  margin: 12.7px 0 12.8px 12.6px;
  font-family: TwCenMT;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Suzanne-Gregory {
  width: 120px;
  height: 16px;
  margin: 0 0 2px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.inputSty{
    width: 266px;
    height: 35px;
    margin: 6px 28px 6.5px 560px;
    border-radius: 3px;
    border: solid 1px #031c2b;
    background-color: #003656;
    .ant-input{
      background: none;
      border: none;
    }
    .ant-input-group-addon{
      background:none !important;
      border: none;
    }
    .ant-btn{
      background:none !important;
      border: none;
    }
}
.bellIcon{
font-size:24px;
 position: relative;
 top: 10px;
 margin: 2px 18px 0px 0px            
}
.nameSty {
width: 150px; 
float: right; 
margin: 6px 0px;
}
.headerSider{
  background: none;
}
.user{
  float:left;
}
.DownloadIcon{
  float:right;
  color:#fff;
}
}
