.group {
  width: 1349px;
  height: 60px;
  margin: 0 0 1px;
  padding: 9px 31px 8.5px 25px;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.16);
  background-color: #002639;
  text-align: left;
}
.menu-icon {
  width: 15.3px;
  height: 12.9px;
  background-color: #ffffff;
}
.cxopicks {
  width: 93px;
  height: 17px;
  margin: 12.7px 0 12.8px 12.6px;
  font-family: TwCenMT;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.sidenav{
  width: 220px !important;
  height: 969px;
  margin: 0 1px 0 0;
  flex: 0 0 0 0 !important;
  max-width: 220px !important;
  min-width: 220px !important;
  padding: 30px 44px 690px 30px;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.15);
  background-color: #f2f4f6;
}
.details{
  width: 1128px;
  height: 80px;
  padding: 23px 929px 23px 24px;
  border-radius: 0px !important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
.profilehead{
  height: 34px;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.84;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.Personal-Information {
  width: 205px;
  height: 27px;
  margin: 32px 0px 0 2px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  padding:0 9px;
  text-align: left;
  color: #444444;
}
.Add-More {
    color: #fff;
    width: 106px;
    height: 38px;
    /* padding: 14px 20px 12px; */
    margin: 22px 0px 0px 0px;
    border-radius: 8px;
    border: 0px;
    background-color: #1488e1;
}
.Suzanne-Gregory {
  width: 120px;
  height: 16px;
  margin: 0 0 2px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Marketing-Assets {
  width: 109px;
  height: 16px;
  margin: 5px 0 4px 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}